.nav-container{
    display:flex;
    width:100%;
}

.nav-area{
    width:50%
}
.pane-content{
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transition: ease-in 0.2s;
}

.pane-content.active{
    visibility: visible;
    opacity: 1;
    display:block;
    top: 2rem;
    z-index: -1;
    left: 0;
    right: 0;
    position: absolute;
    background-color: white;
    width: 100%;
    transition-delay: 0.4s;
    min-width: 20em;
    padding: 2em;
}

.nav-area nav{
    width:100%
}

.menu li {
    position: relative;
}

.menu li .pane-content{
    z-index: 7;
    position: absolute;
    background-color: white;
    width: 100%;
    transition-delay: 0.4s;
}

@media (min-width: 991px) {
    nav {
      display: block;
    }
  }
  
.btn{
    letter-spacing: 2px;
}

.priscription-upload{
    margin-left: auto;
}

