.products-detail-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.slider {
  
}
.prod-details-main {
  grid-column: span 2;
}
.product-pricing-wrapper {
  grid-column: span 1;
}
.freq-area {
  grid-column: span 1;
}
.similar-products-wrapper {
  grid-column: span 1;
}
.additional-offers-wrapper {
  grid-column: span 1;
}
