/* 
.small-ad:empty{
    height: 50%;
    width:100%;
    background-image: linear-gradient(to right, #f1f1f1,#f1f1f1, #f1f1f1);
    background-size: 50% 10px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.loading-content {
    display: inline-flex;
    align-items: center;
    background: #fff;
    padding: 0 14px 0 0;
    width: 50%;
    box-sizing: border-box;
    background: linear-gradient(to right, white, rgba(207, 207, 207, 1), white, rgba(207, 207, 207, 1), white, rgba(207, 207, 207, 1));
	background-size: 400% 400%;
	animation: gradientBG 2s ease infinite;
}


@keyframes gradientBG {
	0% {
		background-position: right;
	}
	50% {
		background-position: left;
	}
}
 */
