@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,700,900');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css');
// @import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import 'assets/styles/colors.scss';
@import 'assets/styles/layout.scss';
@import 'assets/styles/responsive.scss';
@import 'assets/styles/themify.scss';
@import 'assets/styles/font-awesome.scss';
@import 'assets/styles/animate.scss';
@import 'assets/styles/flipclock.scss';
@import 'assets/styles/slick.scss';
@import 'assets/styles/slick-theme.scss';
// @import 'assets/styles/bootstrap.scss';
@import 'assets/styles/color12.scss';

// @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// .container {
//   max-width: 1000px;
//   margin: 0 auto;
// }

// override modal-backdrop
.modal-backdrop{
  z-index: 998;
}

.form-group{
  position:relative;
    .error-message {
      position: relative;
      color: red;
      font-size: rem(10);
      font-weight: 500;
      bottom:rem(-18);
      left:1em;
      top:0;
      &::after{
        top:0;
        left:-1em;
        position: absolute;
        content:'*';
      }
    }
  
}

button:hover {
  cursor: pointer;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  // height: 46px;
}

nav {
  // background-color: #fff;
  // box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

// nav ul {
//   margin: 0;
//   padding: 0;
//   list-style: none;
//   position: relative;
//   text-align: left;
// }

// nav li {
//   display: inline-block;
//   transition: ease-in 0.2s;
// }

// nav a {
//   padding: 1em 1.75em;
//   text-decoration: none;
//   // color: #444;
//   display: block;
// }

nav li:hover {
  // cursor: pointer;
  //   background: linear-gradient(
  //     97deg,
  //     rgba(237, 250, 251, 1) 0%,
  //     rgba(242, 251, 252, 1) 27%,
  //     rgba(246, 252, 253, 1) 58%,
  //     rgba(250, 253, 254, 1) 84%,
  //     rgba(255, 255, 255, 1) 100%
  //   );
  // background-color: #edfafb;
}

nav li:hover a {
  color: #444;
  &.main-heading {
    color: #444;
  }
}

.menu-main {
  z-index: 1;
  text-align: center;
  li {
    text-align: left;
    a.main-heading {
      color: white;
      font-size: 0.85rem;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}

.menu-sub {
  // z-index: -1;
  width: auto;
  background-color: #edfafb;
  box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  display: none;
  width: 100%;
  padding: 1em;
  color: #444;
  // color: #fff;
  .menu-sub-item {
    margin-bottom: 20px;
    display: block;
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-auto-flow: columns;
    // &:last-child {
    //   margin-bottom: 0px;
    // }
    // &:grid-column(1) {
    //   background-color: red;
    // }

    /* column-count: 4; 
    @media (max-width: 991px) {
      column-count: 2;
    } */
    @media (max-width: 991px) {
      display: block;
    }
  }
}

.menu-sub {
  .category-heading {
    text-transform: uppercase;
    font-size: 0.8rem;
  }
}

nav li:hover .menu-sub {
  display: block;
  .category-heading:hover {
    opacity: 0.7;
  }
}

.menu-sub li {
  display: block;
}

.menu-sub a {
  padding: 0;
  font-size: 0.9rem;
}

.menu-category {
  margin: 2em 1em;
}

.menu-col-1,
.menu-col-2,
.menu-col-3,
.menu-col-4 {
  float: left;
}

.menu-col-1 {
  width: 25%;
}
.toggle-caret {
  display: none;
  position: absolute;
  top: 1em;
  left: 90%;
}
// @media only screen and (min-width:460px), screen and (max-width:767px){
//   nav {
//     max-width: 80%;
//   }
// }

// @media screen and (max-device-width: 767px) {
//   nav {
//     max-width: 80%;
//   }
// }

// @media (max-width: 991px) {
//   nav {
//     box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
//     overflow: auto;
//     background-color: #edfafb;
//     transform: translateY(-100px);
//     visibility: hidden;
//     opacity: 0;
//     transition: ease-in 0.2s;
//     max-width: 40%;
//     a {
//       color: inherit;
//     }
//   }
//   nav.has-side-menu {
//     display: block;
//     visibility: visible;
//     opacity: 1;
//     transform: translateY(0);
//     &.container {
//       max-width: 0;
//     }
//   }
//   .nav-container {
//     position: relative;
//   }
//   .toggle-main.active {
//     position: absolute;
//     left: 38%;
//     top: 2rem;
//   }
//   nav ul li {
//     display: block;
//     text-align: left;
//     position: relative;
//   }
//   .menu-main li {
//     &.menu-level-one {
//       padding: 1rem;
//     }
//     a.main-heading {
//       padding: 0;
//       color: #444;
//     }
//   }
//   .menu-sub {
//     z-index: inherit;
//     position: relative;
//     height: 0%;
//     color: #444;
//     box-shadow: none;
//     .menu-sub-item {
//       display: block;
//     }
//   }
//   nav li {
//     i {
//       transition: all ease-in 5s;
//     }
//     &:hover,
//     &:active {
//       background-color: transparent;
//       .main-heading {
//         opacity: 0.7;
//       }
//       .menu-sub.active {
//         display: block;
//       }
//       // border-left: 2px solid #246071;
//     }
//     .menu-sub.active {
//       display: block;
//       height: 100%;
//       .category-heading:hover,
//       .category-heading:active {
//         opacity: 0.7;
//       }
//       padding-bottom: 0;
//     }
//   }
//   nav li:focus .menu-sub {
//     display: block;
//     height: 100%;
//   }
//   .menu-col-1 {
//     display: block;
//     float: none;
//   }
//   .toggle-main.active {
//     display: block;
//     .fas.fa-times {
//       width: 100%;
//     }
//   }
//   .toggle-caret {
//     // pointer-events: none;
//     display: block;
//   }
//   nav li:hover .menu-sub {
//     display: none;
//   }

//   .menu-sub.active {
//     display: block;
//   }
// }

// .checkbox {
//   .form-label {
//     margin: 0 0 0 10px;
//     display: inline;
//   }
//   input[type='checkbox'] {
//     position: relative;
//     // visibility: hidden;
//   }
//   input[type='checkbox']::before {
//     content: '\00a0';
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 1em;
//     height: 1em;
//     color: white;
//   }
//   input[type='checkbox']:checked::before {
//     content: '\2713';
//     background-color: #378b9f;
//     border-radius: 2px;
//   }
//   input[type='checkbox']:checked + label span {
//     font-weight: 700;
//   }
// }

.checkbox {
  position: relative;
  label {
    display: inline;
    span {
      padding: 0 0 0 10px;
    }
  }
  input[type='checkbox'] {
    opacity: 0;
  }

  label {
    &::before {
      position: absolute;
      content: '';
      left: 0;
      font-size: 10px;
      padding: 7px;
      top: 5px;
      left: -4px;
      margin: auto 0;
      z-index: -1;
      width: 1.2em;
      border-radius: 3px;
      height: 1em;

      border: 2px solid #6c757d;
    }
  }
  label:hover::before {
    cursor: pointer;
  }
  input[type='checkbox']:checked ~ label::before {
    content: '\2713';
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    background-color: #388c9f;
    border-color: #388c9f;
  }
  input[type='checkbox']:disabled ~ label::before{
    background-color: grey;
    border-color: grey;
  }
}


.left-10 {
  margin-left: 10px;
}

.log-forgot {
  margin-top: 2rem;
}

.hide-anim {
  -webkit-animation: cssAnimation 5s forwards;
  animation: cssAnimation 5s forwards;
}

.text-muted {
  color: $text;
  font-size: rem(12);
}

.divider {
  /* border: 0.07rem dashed #74708d; */
  margin: rem(15) 0;
  width: 100%;
  height: rem(1);
  background: $gray-darken;
}
.upload-list-wrapper {
  padding: 1em 0;
  .upload-list {
    // display: inline-flex;
    // flex-wrap: wrap;
    // align-items: center;
    display: grid;
    grid-gap: 9px;
    // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    text-align: center;
  }
  .upload-item {
    position: relative;
    height: 100%;
    align-items: center;
    img {
      min-height: 120px;
      max-height: 130px;
      /* max-height: 100px; */
      object-fit: cover;
    }
  }
  .upload-list-item {
    margin-right: 10px;
    // position: relative;
    padding: 12px;
    border: 1px solid #a59d9da3;
    max-width: 200px;
    position: relative;
    &__select {
      width: 1em;
      height: 1em;
      background-color: white;
      padding: 0.8rem;
      position: absolute;
      top: 5px;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      right: 5px;
      border-radius: 50%;
      border: 1px solid #246071;
      color: #2c7384;
      &:hover{
        cursor: pointer;
      }
    }
    &:hover .overlay {
      opacity: 1;
    }
    .overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #00000036;
      // backdrop-filter: blur(1px);
      // border: 1px solid #a59d9da3;
      transition: all ease-in 0.4s;
    }
  }
}

.red {
  background-color: #c54343;
}

button.qty-plus,
button.qty-minus {
  &.disabled {
    background-color: rgb(172, 169, 169);
    pointer-events: none;
  }
}

.variants-item-text {
  font-weight: 700;
  padding: rem(2) 0;
  position: relative;
  color: $text;
  &::before {
    content: '';
    position: absolute;
    width: 0.3rem;
    height: 0.76rem;
    background-color: #b8beca;
    left: -0.4rem;
    top: 0.3rem;
  }
  span {
    margin-left: 5px;
  }
}

.stars-wrapper {
  font-size: 1.3rem;
  i {
    color: $primaryBgColorDarken;
  }
}

.product-detail-head__prescr {
  position: relative;
  align-self: flex-start;
  margin-left: 2em;
  .product-detail-head__prescr-text {
    padding: 0.3em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
    white-space: nowrap;
  }
  &::before {
    content: '';
    position: absolute;
    display: block;
    left: -1em;
    z-index: -1;
    bottom: 0;
    top: 0;
    border-left: 0.75em solid #dc3544;
    border-right: 0.75em solid #dc3544;
    border-bottom: 0.75em solid #dc3544;
    border-top: 0.75em solid #dc3544;
    border-left-color: transparent;
  }
}

.pricing-table {
  table-layout: fixed;
  .product-name{
    border-bottom: none;
  }
  .product-total{
    border-bottom: none;
    text-align: end;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
  }
  .table-item-price{
    text-align: end;
  }
}

.apply-coupon{
display: flex;
justify-content: space-between;
}

.order-pricing-head {
  color:black;
  padding:0 0.5em 0 0.5em;
  .order-pricing-title {
    font-weight: 600;
  }
  .order-pricing-qty,
  .order-pricing-price {
    margin-bottom:0;
  }
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364E92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}
/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

.primary-bg-text-color{
  color:white
}

// .ribbon::before{
//   content:attr(ribbon);
// }

@keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 767px) {
  .apply-coupon{
    flex-direction: column;
    align-items: flex-start;
    input{
      width:100%;
    }
  }
  nav {
   //  max-width: 80%;
  }
  .toggle-main.active {
    left: 79%;
  }
  .upload-list-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}

@media (max-width: 576px) {
  .product-detail-head__prescr {
    .product-detail-head__prescr-text {
      display: none;
      padding: 0;
      font-size: 1em;
    }
    &::before {
      content: '';
      left: -2em;
      border-left-color: #dc3544;
      border-bottom-color: transparent;
    }
    // &:hover,
    // &:active,&:focus {
    //   &::before {
    //     border-color: blue;
    //   }
    // }
  }
}
