.small-ad:empty {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 0 10px 45px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
      90deg,
      rgba(lightgrey, 0) 0,
      rgba(lightgrey, 0.8) 50%,
      rgba(lightgrey, 0) 100%
    ),
    linear-gradient(white 24px, transparent 0),
    linear-gradient(lightgrey 24px, transparent 0);
  background-size: 200px 300px, 180px 16px, 100% 100%;
  background-position: -150% 0, 24px 265px, 0 0;
  background-repeat: no-repeat;
  animation: loading 1.5s infinite;
}

  
@keyframes loading {
    to {
      background-position:
        350% 0, 
        24px 265px,
        0 0
      ;
    }
  }