/*=====================
    25. Menu css start
==========================*/

@mixin round_corner($amount, $chainable: 'ul > li:last-child > ', $level: 4, $chain_prefix: '> li:last-child > ', $chain: '', $selector: '') {
  $chain: $chain_prefix;
  $selector: $chain + 'a, ' + $chain + '*:not(ul) a, ' + $chain + 'ul';
  @for $i from 1 through $level {
    $chain: $chain + $chainable;
    $selector: $selector + ',
' + $chain + ' a, ' + $chain + '*:not(ul) a, ' + $chain + ' ul';
  }
  #{$selector} {
    border-radius: 0 0 $amount $amount;
  }
  $chain: $chain_prefix;
  $selector: $chain + 'a.highlighted, ' + $chain + '*:not(ul) a.highlighted';
  @for $i from 1 through $level {
    $chain: $chain + $chainable;
    $selector: $selector + ',
' + $chain + ' a.highlighted, ' + $chain + '*:not(ul) a.highlighted';
  }
  #{$selector} {
    border-radius: 0;
  }
}
@mixin sub_items($amount, $chainable: 'ul ', $level: 4, $chain: '') {
  @for $i from 1 through $level {
    $chain: $chain + $chainable;
    #{$chain} a,
    #{$chain} a:hover,
    #{$chain} a:focus,
    #{$chain} a:active {
      border-left: ($amount * ($i + 1)) solid transparent;
    }
  }
}
%extend_1 {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: normal;
  direction: ltr;
  text-align: left;
}
.sm {
  box-sizing: border-box;
  position: relative;
  z-index: 9;
  @extend %extend_1;
  ul {
    @extend %extend_1;
    display: none;
  }
  li {
    @extend %extend_1;
    position: relative;
  }
  > li {
    > h1 {
      margin: 0;
      padding: 0;
    }
    > h2 {
      margin: 0;
      padding: 0;
    }
    > h3 {
      margin: 0;
      padding: 0;
    }
    > h4 {
      margin: 0;
      padding: 0;
    }
    > h5 {
      margin: 0;
      padding: 0;
    }
    > h6 {
      margin: 0;
      padding: 0;
    }
  }
  a {
    position: relative;
    display: block;
    &.disabled {
      cursor: default;
    }
  }
  * {
    box-sizing: inherit;
  }
  *::before {
    box-sizing: inherit;
  }
  *::after {
    box-sizing: inherit;
  }
}
.sm::after {
  content: "";
  display: block;
  height: 0;
  font: 0/0 serif;
  clear: both;
  overflow: hidden;
}

// -----------------------------------------------------------------------------------------------------------------
// 1. Theme Quick Settings (Variables)
// -----------------------------------------------------------------------------------------------------------------

// ----------------------------------------------------------
// :: 1.1. Colors
// ----------------------------------------------------------

//$theme-color1: #ff4c3b !default;
$theme-color1-dark:									darken($theme-color1, 5%) !default;
$theme-color1-darker: darken($theme-color1, 15%) !default;
$theme-color1-light:									lighten($theme-color1, 30%) !default;
$theme-deafult__white:										#fff !default;
$theme-deafult__gray:											darken($theme-deafult__white, 34%) !default;
$dark :	#333333;
$theme-deafult__text-shadow:									rgba(0, 0, 0, 0.2) !default;
$theme-deafult__box-shadow:									rgba(0, 0, 0, 0.2) !default;

// ----------------------------------------------------------
// :: 1.2. Breakpoints
// ----------------------------------------------------------
$theme-deafult__desktop-vp:									1200px !default;		// switch from collapsible to desktop

// ----------------------------------------------------------
// :: 1.3. Typography
// ----------------------------------------------------------
$theme-deafult__font-size-base:								14px !default;
$theme-deafult__font-size-small:								12px !default;
$theme-deafult__line-height:									23px !default;

// ----------------------------------------------------------
// :: 1.4. Borders
// ----------------------------------------------------------
$theme-deafult__border-width:									1px !default;
$theme-deafult__border-radius-base:							8px !default;
$theme-deafult__border-radius-small:							4px !default;

// ----------------------------------------------------------
// :: 1.5. Collapsible main menu
// ----------------------------------------------------------
// Menu box
$theme-deafult__collapsible-bg:								transparent !default;
$theme-deafult__collapsible-border-radius:					$theme-deafult__border-radius-base !default;
$theme-deafult__collapsible-box-shadow:						0 1px 4px $theme-deafult__box-shadow !default;

// Items
$theme-deafult__collapsible-item-color:						$theme-deafult__white !default;
$theme-deafult__collapsible-item-bg:							$theme-color1 !default;
$theme-deafult__collapsible-item-current-color:				$theme-deafult__white !default;
$theme-deafult__collapsible-item-current-bg:					$theme-color1-darker !default;
$theme-deafult__collapsible-item-disabled-color:				lighten($theme-color1, 30%) !default;
$theme-deafult__collapsible-item-padding-vertical:			10px !default;
$theme-deafult__collapsible-item-padding-horizontal:			20px !default;

// Toggle button (sub menu indicators)
$theme-deafult__collapsible-toggle-bg:						rgba(0, 0, 0, 0.1) !default;

// ----------------------------------------------------------
// :: 1.6. Collapsible sub menus
// ----------------------------------------------------------

// Menu box
$theme-deafult__collapsible-sub-bg:							$theme-deafult__white !default;

// Items
$theme-deafult__collapsible-sub-item-color:					$theme-color1-dark !default;
$theme-deafult__collapsible-sub-item-bg:						transparent !default;
$theme-deafult__collapsible-sub-item-current-color:			$theme-deafult__white !default;
$theme-deafult__collapsible-sub-item-current-bg:				$theme-color1-darker !default;
$theme-deafult__collapsible-sub-item-disabled-color:			darken($theme-deafult__white, 30%) !default;

// Items separators
$theme-deafult__collapsible-sub-separators-color:				rgba(0, 0, 0, 0.05) !default;

// Items text indentation for deeper levels
$theme-deafult__collapsible-sub-item-indentation:				8px !default;

// ----------------------------------------------------------
// :: 1.7. Desktop main menu
// ----------------------------------------------------------

// Items separators
$theme-deafult__desktop-separators-size:						1px !default;
$theme-deafult__desktop-separators-color:						darken($theme-color1, 5%) !default;

// Sub menu indicators
$theme-deafult__desktop-arrow-size:							5px !default;		// border-width
$theme-deafult__desktop-arrow-color:							$theme-color1-light !default;

// Vertical menu box
$theme-deafult__desktop-vertical-box-shadow:					0 1px 4px $theme-deafult__box-shadow !default;

// Vertical items
$theme-deafult__desktop-vertical-item-padding-vertical:		9px !default;
$theme-deafult__desktop-vertical-item-padding-horizontal:		23px !default;

// ----------------------------------------------------------
// :: 1.8. Desktop sub menus
// ----------------------------------------------------------

// Menu box
$theme-deafult__desktop-sub-bg:								$theme-deafult__white !default;
$theme-deafult__desktop-sub-border-color:						$theme-deafult__gray !default;
$theme-deafult__desktop-sub-border-radius:					$theme-deafult__border-radius-small !default;
$theme-deafult__desktop-sub-box-shadow:						0 5px 12px $theme-deafult__box-shadow !default;
$theme-deafult__desktop-sub-padding-vertical:					7px !default;
$theme-deafult__desktop-sub-padding-horizontal:				0 !default;

// Items
$theme-deafult__desktop-sub-item-color:						$theme-color1-dark !default;
$theme-deafult__desktop-sub-item-bg:							transparent !default;
$theme-deafult__desktop-sub-item-hover-color:					$theme-deafult__white !default;
$theme-deafult__desktop-sub-item-hover-bg:					$theme-color1 !default;
$theme-deafult__desktop-sub-item-current-color:				$theme-deafult__white !default;
$theme-deafult__desktop-sub-item-current-bg:					$theme-color1-darker !default;
$theme-deafult__desktop-sub-item-disabled-color:				darken($theme-deafult__white, 30%) !default;
$theme-deafult__desktop-sub-item-padding-vertical:			9px !default;
$theme-deafult__desktop-sub-item-padding-horizontal:			23px !default;

// ----------------------------------------------------------
// :: 2.1. Collapsible mode (mobile first)
// ----------------------------------------------------------

// calc item height and sub menus toggle button size
$theme-deafult__item-height: $theme-deafult__line-height + $theme-deafult__collapsible-item-padding-vertical * 2;
// set toggle button size to 80% of item height
$theme-deafult__toggle-size: floor($theme-deafult__item-height * 0.8);
$theme-deafult__toggle-spacing: floor($theme-deafult__item-height * 0.1);

// Main menu box
.pixelstrap {
  a {
    &,
    &:hover,
    &:focus,
    &:active {
      padding: 33px 0;
      padding-right: 30px;
      color: $grey4;
      font-size: $theme-deafult__font-size-base;
      font-weight: 700;
      line-height: $theme-deafult__line-height;
      text-decoration: none;
      text-transform: uppercase;
    }
    &.disabled {
      color: $theme-deafult__collapsible-item-disabled-color;
    }
    .sub-arrow {
      position: absolute;
      top: 50%;
      margin-top: -17px;
      left: auto;
      right: 0;
      width: 15px;
      height: 30px;
      overflow: hidden;
      font: bold 16px/34px monospace !important;
      text-align: center;
      text-shadow: none;
      border-radius: 4px;
    }
  }
  //@include round_corner($theme-deafult__collapsible-border-radius);
  // Sub menus box
  ul {
    background: $theme-deafult__collapsible-sub-bg;
    ul {
      background: rgba(darken($theme-deafult__collapsible-sub-bg, 60%), 0.1);
    }
    a {
      &,
      &:hover,
      &:focus,
      &:active {
        background: $theme-deafult__collapsible-sub-item-bg;
        color: $theme-deafult__collapsible-sub-item-color;
        font-size: 14px;
        text-shadow: none;
        text-transform: capitalize;
        font-weight: 500;
        // add indentation for sub menus text
        border-left: $theme-deafult__collapsible-sub-item-indentation solid transparent;
      }
      &.current {
        background: $theme-deafult__collapsible-sub-item-current-bg;
        color: $theme-deafult__collapsible-sub-item-current-color;
      }
      &.disabled {
        color: $theme-deafult__collapsible-sub-item-disabled-color;
      }
    }
    // Add indentation for sub menus text for deeper levels
    @include sub_items($theme-deafult__collapsible-sub-item-indentation);

    // Sub menus items separators
    li {
      border-top: 1px solid $theme-deafult__collapsible-sub-separators-color;
      &:first-child {
        border-top: 0;
      }
    }
  }
  .mega-box {
    .link-section {
      .demo {
        h6 {
          color: $font-color;
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 10px;
        }
        .mega-menu-img {
          margin-bottom: 10px;
        }
      }
    }
  }
  &.sm-horizontal {
    .mega-box {
      .link-section {
        .demo {
          ul {
            position: relative;
            display: block;
            padding: 0;
            border:none;
            box-shadow: none;
            width: 100% !important;
            li {
              a {
                position: relative;
                span {
                  img {
                    width: auto;
                    position: absolute;
                    right: -100px;
                    top: 0;
                    visibility: hidden;
                    z-index: 3;
                    max-width: 141px;
                    -moz-opacity: 0;
                    opacity: 0;
                    transition: all 0.2s linear;
                    -webkit-transition: all 0.2s linear;
                    -o-transition: all 0.2s linear;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
                    padding: 0;
                  }
                }
                &:hover {
                  span {
                    img {
                      opacity: 1;
                      visibility: visible;
                      animation: fadeInUp 0.3s ease-in-out;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .feature-menu {
      a {
        padding: 0;
        text-align: center;
        img {
          transition: all 0.5s ease;
        }
        h6 {
          font-size: 12px;
          margin-bottom: 20px;
          margin-top: 20px;
          text-align: center;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
          font-weight: 400;
          color: $font-color;
          text-transform: uppercase;
        }
        &:hover {
          img {
            transform: scale(1.01);
            transition: all 0.5s ease;
          }
          h6 {
            color: $theme-color1;
          }
        }
      }
      &.full-mega-menu {
        padding: 20px 15px 15px 15px;
        a {
          text-align: left;
        }
      }
    }
  }
  &.sm-vertical {
    a {
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      &,
      &:hover,
      &:focus,
      &:active {
        color: $category;
      }
      &:hover {
        color: $theme-color1;
      }
    }
    li {
      ul {
        li {
          a {
            padding: 5px 20px;
            color: $font-color;
            text-transform: capitalize;
            font-weight: 500;
            &:hover,
            &:active,
            &.highlighted {
              background-color: unset;
              color: $theme-color1;
              transition: all 0.5s ease;
            }
            .sub-arrow {
              right: 10px;
            }
          }
        }
      }
    }
    .vertical-mega-menu {
      .demo {
        ul {
          display: block;
          border: none;
          box-shadow: none;
          position: relative;
          padding: 0;
          li {
            a {
              padding-left: 0;
              text-transform: capitalize;
            }
          }
        }
      }
    }
    ul {
      border-radius: 0 !important;
    }
  }
}

// dark
.dark {
  .pixelstrap {
    .mega-box {
      .link-section {
        .demo {
          h6 {
            color: $white-5;
          }
        }
      }
    }
  }
}


// ----------------------------------------------------------
// :: 2.2. Desktop mode
// ----------------------------------------------------------
@media (min-width: 1200px) {

  /* Switch to desktop layout  */
  .pixelstrap ul{position:absolute;width:13em !important;}
  .pixelstrap li{float:left;}
  .pixelstrap.sm-rtl li{float:right;}
  .pixelstrap ul li,.pixelstrap.sm-rtl ul li,.pixelstrap.sm-vertical li{float:none;}
  .pixelstrap a{white-space:nowrap;}
  .pixelstrap ul a,.pixelstrap.sm-vertical a{white-space:normal;}
  .pixelstrap .sm-nowrap > li > a,.pixelstrap .sm-nowrap > li > :not(ul) a{white-space:nowrap;}
  /* ...end */

  // Main menu box
  .pixelstrap {
    a {
      .sub-arrow {
        top: auto;
        margin-top: 0;
        bottom: 2px;
        left: 50%;
        margin-left: -$theme-deafult__desktop-arrow-size;
        right: auto;
        width: 0;
        height: 0;
        border-width: $theme-deafult__desktop-arrow-size;
        background: transparent;
      }
      .sub-arrow::before {
        content: "\f105";
        font-family: $font-awesome;
        position: absolute;
        font-weight: 500;
      }
    }
    ul {
      border: 1px solid lighten($theme-color1, 30%);
      padding: $theme-deafult__desktop-sub-padding-vertical $theme-deafult__desktop-sub-padding-horizontal;
      background: $theme-deafult__desktop-sub-bg;
      border-radius: 0 0 $theme-deafult__desktop-sub-border-radius $theme-deafult__desktop-sub-border-radius !important;
      box-shadow: $theme-deafult__desktop-sub-box-shadow;
      animation: fadeInUp 0.3s ease-in-out;
      ul {
        border-radius: $theme-deafult__desktop-sub-border-radius !important;
        background: $theme-deafult__desktop-sub-bg;    animation: fadeInUp 0.3s ease-in-out;
      }
      a {
        &,
        &:hover,
        &:focus,
        &:active,
        &.highlighted {
          border: 0 !important;
          padding: 5px 20px;
          background: $theme-deafult__desktop-sub-item-bg;
          color: $font-color;
          border-radius: 0 !important;
        }
        &:hover,
        &:focus,
        &:active,
        &.highlighted {
          color: $theme-color1;
        }
        &.current {
          color: $theme-color1;
        }
        &.disabled {
          color: $theme-color1;
        }
        .sub-arrow {
          top: 50%;
          margin-top: -$theme-deafult__desktop-arrow-size;
          bottom: auto;
          left: auto;
          margin-left: 0;
          right: 0;
        }
      }
      li {
        border: 0;
      }
    }
    &.sm-horizontal {
      li {
        ul {
          li {
            a {
              .sub-arrow {
                position: absolute;
                top: 50%;
                margin-top: -17px;
                left: auto;
                right: 15px;
                width: 15px;
                height: 30px;
                overflow: hidden;
                font: bold 16px/34px monospace !important;
                text-align: center;
                text-shadow: none;
                border-radius: 4px;
                &:before {
                  content: "\f105";
                  font-family: $font-awesome;
                  position: absolute;
                }
              }
            }
          }
        }
      }
      .feature-menu {
        width: 100% !important;
        max-width: 100% !important;
        margin-left: 0 !important;
      }
    }
    .scroll-up,
    .scroll-down {
      position: absolute;
      display: none;
      visibility: hidden;
      overflow: hidden;
      background: $theme-deafult__desktop-sub-bg;
      height: 20px;
    }
    .scroll-up-arrow,
    .scroll-down-arrow {
      position: absolute;
      top: -2px;
      left: 50%;
      margin-left: -8px;
      width: 0;
      height: 0;
      overflow: hidden;
      border-width: 8px; // tweak size of the arrow
      border-style: dashed dashed solid dashed;
      border-color: transparent transparent $theme-deafult__desktop-sub-item-color transparent;
    }
    .scroll-down-arrow {
      top: 6px;
      border-style: solid dashed dashed dashed;
      border-color: $theme-deafult__desktop-sub-item-color transparent transparent transparent;
    }

    // Main menu box
    &.sm-vertical {
      box-shadow: none;
      background-color: white;
      display: inline-block;
      width: 100%;
      a {
        .sub-arrow {
          margin-top: -16px;
          right: 15px;
          position: absolute;
          top: 50%;
          left: auto;
          width: 15px;
          height: 30px;
          overflow: hidden;
          font: bold 16px/34px monospace !important;
          text-align: center;
          text-shadow: none;
          border-radius: 4px;
        }
      }
      > li {
        border-left: 0 !important;
      }
      li {
        ul {
          li {
            a {
              padding: 5px 20px;
              color: $font-color;
              &:hover,
              &:active,
              &.highlighted {
                background-color: unset;
                color: $theme-color1;
                transition: all 0.5s ease;
              }
              .sub-arrow {
                right: 16px;
              }
            }
          }
        }
      }
      .vertical-mega-menu {
        width: 600px !important;
        max-width: 600px !important;
        padding: 20px 20px 187px 10px;
        background: url(../../images/mega-menu/mega.png) white no-repeat;
        background-size: contain;
        background-position: bottom;
      }
    }
    .mega {
      position: unset !important;
    }
  }
  .rtl {
    .pixelstrap {
      ul {
        a {
          text-align: right;
        }
      }
      &.sm-horizontal {
        li {
          ul {
            li {
              a {
                .sub-arrow {
                  left: 15px;
                  right: auto;
                  &:before {
                    content: "\f104";
                  }
                }
              }
            }
          }
        }
      }
      &.sm-vertical {
        a {
          .sub-arrow {
            right:unset;
            left: 15px;
            &:before {
              content: "\f104";
            }
          }
        }
      }
    }
  }

  // dark
  .dark {
    .pixelstrap {
      &.sm-vertical {
        .vertical-mega-menu {
          background: $dark-body;
        }
        li {
          ul {
            li {
              a {
                color: $dark-link;
              }
            }
          }
        }
      }
      ul {
        a {
          &:hover,
          &:focus,
          &:active,
          &.highlighted {
            color: $theme-color1;
          }
        }
      }
    }
  }
}


// ----------------------------------------------------------
// :: 2.3. Mobile Mode
// ----------------------------------------------------------
@media (max-width: 1430px){
  .pixelstrap {
    a {
      &,
      &:hover,
      &:focus,
      &:active {
        padding-right: 15px;
      }
    }
  }
}
@media (max-width: 1199px) {
  .pixelstrap {
    a {
      &,
      &:hover,
      &:focus,
      &:active {
        padding: 8px 18px;
      }
      .sub-arrow {
        margin-top: -19px;
        right: 15px;
        &:before {
          content: '+';
        }
      }
      &.highlighted {
        .sub-arrow {
          &:before {
            content: '-';
          }
        }
      }
    }
    ul {
      a {
        color: #333333;
      }
      ul {
        background: none;
        a {
          &,
          &:focus,
          &:active,
          &:hover {
            border-left: none;
          }
        }
      }
    }
    li {
      ul {
        li {
          ul {
            li {
              a {
                padding-left: 35px !important;
              }
            }
          }
        }
      }
    }
    &.sm-horizontal {
      .mega-box {
        padding: 0;
        .link-section {
          .demo {
            ul {
              li {
                a {
                  padding-left: 26px;

                }
              }
            }
          }
        }
      }
      .full-mega-menu {
        .mega-box {
          .link-section {
            .demo {
              padding-left: 12px;
              margin-bottom: 0;
              ul {
                li {
                  a {
                    padding-left: 0 !important;
                    padding-top: 3px;
                    padding-bottom: 3px;
                  }
                }
              }
            }
          }
        }
        &.feature-menu {
          padding: 0 36px 15px 15px;
        }
      }
    }
    &.sm-vertical {
      .vertical-mega-menu {
        .mega-box {
          .link-section {
            .demo {
              h6 {
                text-transform: capitalize;
                margin-bottom: 0;
                margin-left: 15px;
                margin-top: 0;
              }
            }
          }
          &:first-child {
            .link-section {
              .demo {
                h6 {
                  margin-top: 0;
                }
              }
            }
          }
        }
      }
      .menu-title {
        .according-menu {
          &:before {
            right: 18px;
          }
        }
        &.active {
          .according-menu {
            &:before {
              right: 18px;
            }
          }
        }
      }
      .mega-box {
        .link-section {
          .demo {
            .menu-content {
              padding: 0;
            }
          }
        }
      }
    }
    .menu-title {
      h5 {
        cursor: pointer;
      }
      &.active {
        .according-menu {
          font: bold 16px/34px monospace !important;
          &:before {
            content: "-";
            position: absolute;
            right: -18px;
            font-weight: 500;
          }
        }
      }
      .according-menu {
        font: bold 16px/34px monospace !important;
        &:before {
          content: "+";
          position: absolute;
          right: -18px;
          font-weight: 500;
        }
      }
    }
    .mega-box {
      .link-section {
        .demo {
          h6 {
            margin-bottom: 0;
            text-transform: capitalize;
            font-weight: 500;
            cursor: pointer;
          }
          .menu-content {
            padding: 10px 20px;
          }
        }
      }
    }
  }
  .rtl {
    .pixelstrap {
      a {
        .sub-arrow {
          left: 15px;
          right: unset;
        }
      }
      &.sm-vertical {
        .menu-title {
          .according-menu {
            &:before {
              right: unset;
              left: 18px;
            }
          }
        }
      }
      &.sm-horizontal {
        left: -300px;
        li {
          a {
            text-align: right;
          }
        }
        .full-mega-menu {
          &.feature-menu {
            padding: 0 15px 15px 36px;
          }
        }
      }
      .menu-title {
        .according-menu {
          &:before {
            left: -18px;
            right: unset;
          }
        }
      }
    }
  }
}
